* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin: 10px;
}

.current-display {
    border: 5px solid black;
    border-radius: 15px;
    max-width: 90vw;
    padding: 25px;
    display: flex;  
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.game-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-score {
    min-width: 30vw;
    flex-grow: 1;
}

.start-btn {
    background-color: transparent;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    align-self: center;
}

.player-form {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.player-form-section {
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
}

.player-form-title {
    font-size: 1.50rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.player-form-section > label {
    font-size: 1.10rem;
    font-weight: 600;
}

.player-form-section > input {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid rgb(153, 153, 153);
}

.round-indicator {
    font-size: 1.5rem;
    font-weight: 600;
}

.messages-box {
    font-size: 1rem;
    font-weight: 600;
    margin: 30px;
}

.cell-list {
    grid-template-columns: repeat(3, minmax(5vw, 150px));
    grid-template-rows: repeat(3, minmax(5vw, 150px));
    grid-auto-flow: row;
    display: grid;
    border: 2px solid black;
    padding: 0px;

}

.cell-list > li {
    list-style: none;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.game-score {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.score-title {
    font-size: 1.10rem;
    font-weight: 600;
    margin: 10px 0px;
}

.score-ctn {
    font-weight: 600;
    margin: 5px 0;
}

.hidden-ctn {
    display: none;
}

.game-control-panel {
    margin: 20px;
    border-radius: 5px;
    border: 4px solid black;
    padding: 20px 40px;
    display: flex;
    gap: 30px;
}

.game-btn {
    border: 2px solid rgba(78, 78, 78, 0.593);
    background-color: transparent;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px 10px;

}

.disable-btn {
    background-color: grey;
}

.winning-cells {
    color: #fff;
    text-shadow: 0 0 5px #00ff00,
                 0 0 10px #00ff00,
                 0 0 15px #00ff00,
                 0 0 20px #00ff00,
                 0 0 35px #00ff00,
                 0 0 40px #00ff00,
                 0 0 50px #00ff00,
                 0 0 75px #00ff00;
}